.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  > div {
    // height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
  }
}

.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-top: 2.5rem;
    font-weight: 900;
    font-family: "poppins";

    span {
      color: var(--cyan);
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 2.25rem;
    margin-top: 2.5rem;

    span {
      font-size: 1.2rem;
      color: var(--cyan);
      font-weight: 300;
    }
  }

  input {
    width: 100px;
    height: 4rem;
  }
}

.cardContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
}
